<p>home works!</p>
<div>
    <span>WELCOME TO OUR VELOTOUR!</span>
<!-- <img src="https://img.freepik.com/free-photo/cyclist-bycicle-race_181624-23283.jpg?w=740&t=st=1686662786~exp=1686663386~hmac=82bbb5e363909b504f414ba2c78da0d8eefd22e3c0293b96817a37edc8c466c7" width="80%" height="80%" priority> -->
<!-- <img src="https://img.freepik.com/free-photo/magical-fantasy-world-mysterious-forestfairy-tale-concept-ai-generative_157027-1728.jpg?size=626&ext=jpg&uid=R44753440&ga=GA1.1.1103567159.1597658053&semt=ais" width="80%" height="80%" priority> -->
<img src="https://t3.ftcdn.net/jpg/02/84/70/98/240_F_284709898_BDDr2yI5JD0Wr9MOCsiZIHOUKR2M4vM5.jpg" width="80%" height="80%" priority>
<!-- <img src="assets/images/home-unsplash.jpg" width="400" height="200" priority> -->


</div>